


body{
  font-family: "Josefin Sans", sans-serif;  

}
.cabecalho {
background-color: #58a380;
color: rgb(255, 255, 255);
 
padding: 24px 0;
}


.cabecalho-imagem{
width: 20%;


font-size: 24px;  
}

.escola-imagem{
width: 25%;
}

.escola{

background-image: linear-gradient(#58a380,#58a380 );
color: rgb(240, 235, 235);
display: flex;
justify-content: center;
align-items: center;
padding: 40px 0;
}


.escola-div-conteudo{
width: 45%;
}

.escola-titulo{
padding: 24px 0;
}

.estudante-imagem{
width: 150px;

}

.estudante-icone{
width: 24px;
}
.estudante-div{
text-align: center;
}

.estudante-titulo{
text-align: center;
padding: 50px 0;
}

.estudante-todos{
display: grid;
grid-template-columns: 20% 20% 20% 20% 20% ;
}


.rodape{
background-color: black;
text-align: center;

}
.rodape-imagem{
height:60px ;
width: 24px 0;
}